/* For easier editing, common rules will be defined first. */
body {
    font-size: 100%;
    background-color: rgb(214, 243, 222);
    font-family: sans-serif;
}

/* Index */

/* creatures */

.displayButton {
    font-family: serif;
    padding: 10px 25%;
    border: 2px solid green;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    background-color: lightgreen;
    color: white;
}

.displayButton:hover {
    background-color: darkgreen;
}