body {
    background-color: rgb(184, 203, 245);
}

button.displayButton {
    width: 90%;
    padding: 5px;
    margin: 5px;
    border-radius: 1%;
}

.centerAllign {
    text-align: center;
}

.card {
    width: 40%;
    border-radius: 5px;
  }  

.container {
    padding: 0 16px;
  }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}