body {
    background-color: rgb(214, 243, 222);
}

button {
    padding: 15px 10px;
    border: 2px solid rgb(95, 216, 180);
    border-radius: 10px;
    background-color: rgb(141, 238, 165);
}

main {
    max-width: 95%;
    padding: 0;
    margin: auto;
}

.displayButton {
    width: 80%;
    padding: 15px;
    background-color: skyblue;
    border: 5px outset lightblue;
    border-radius: 10px;
}
.centerMargin {
    margin: auto;
}

.centerAllign {
    text-align: center;
}

.card {
    width: 40%;
    border-radius: 5px;
  }  

.container {
    padding: 0 16px;
  }

.tooltip {
    display: inline-block;
    position: relative;
    padding: 5px;
    background-color: darkgrey;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.centerButtons {
    max-width: 35%;
    margin: auto;
}

.tokenDatabase {
    max-width: 80%;
    margin: auto;
}

.outputTextarea {
    max-width: 90%;
    padding: 10px;
    border-color:rgb(116, 233, 93);
    margin: auto;
}